$color-white: hsl(0, 0%, 100%);
$color-light-grayish-violet: hsl(270, 3%, 87%);
$color-dark-grayish-violet: hsl(279, 6%, 55%);
$color-very-dark-violet: hsl(278, 68%, 11%);
$font-space-grotesk: "Space Grotesk", sans-serif;
$font-weight-common: 500;
$primary-color-red: hsl(0, 100%, 66%);
$primary-linear-gradient-from: hsl(249, 99%, 64%);
$primary-linear-gradient-to: hsl(278, 94%, 30%);
$font-size-common: 18px;